# Задача A. Interactor

Лена руководит разработкой тестирующей системы, в которой реализованы интерактивные задачи.
До заверщения очередной стадии проекта осталось написать модуль, определяющий итоговый вердикт системы для интерактивной задачи. Итоговый вердикт определяется из кода завершения задачи, вердикта интерактора и вердикта чекера по следующим правилам:

- Вердикт чекера и вердикт интерактора — это целые числа от 0 до 7 включительно.
- Код завершения задачи — это целое число от -128 до 127 включительно.
- Если интерактор выдал вердикт 0, итоговый вердикт равен 3 в случае, если программа завершилась с ненулевым кодом, и вердикту чекера в противном случае.
- Если интерактор выдал вердикт 1, итоговый вердикт равен вердикту чекера.
- Если интерактор выдал вердикт 4, итоговый вердикт равен 3 в случае, если программа завершилась с ненулевым кодом, и 4 в противном случае.
- Если интерактор выдал вердикт 6, итоговый вердикт равен 0.
- Если интерактор выдал вердикт 7, итоговый вердикт равен 1.
- В остальных случаях итоговый вердикт равен вердикту интерактора.

Ваша задача — реализовать этот модуль.

In [103]:
from random import randrange
import pandas as pd

In [65]:
i = int(input())
r = int(input())
# i = int(input())
c = int(input())

2
45
32

In [66]:
if i == 0:
    if r != 0:
        print(3)
    else:
        print(c)
elif i == 1:
    print(c)
elif i == 4:
    if r != 0:
        print(3)
    else:
        print(4)
elif i == 6:
    print(0)
elif i == 7:
    print(1)
else:
    print(i)

2

In [101]:
i = randrange(0, 8)
r = randrange(-128, 128)
c = randrange(0, 8)
print(i, r, c)

4 -26 4

In [111]:
df = pd.DataFrame({'i': [], 'r': [], 'c': [], 'output': []})
for j in range(20):
    i = randrange(0, 8)
    r = randrange(-128, 128)
    c = randrange(0, 8)
    if i == 0:
        if r != 0:
#             print(3)
            df.loc[j] = [i, r, c, 3]
        else:
#             print(c)
            df.loc[j] = [i, r, c, c]
    elif i == 1:
#         print(c)
        df.loc[j] = [i, r, c, c]
    elif i == 4:
        if r != 0:
#             print(3)
            df.loc[j] = [i, r, c, 3]
        else:
#             print(c)
            df.loc[j] = [i, r, c, 4]
    elif i == 6:
#         print(0)
        df.loc[j] = [i, r, c, 0]
    elif i == 7:
#         print(1)
        df.loc[j] = [i, r, c, 1]
    else:
#         print(i)
        df.loc[j] = [i, r, c, i]

In [112]:
df

      i      r    c  output
0   3.0   99.0  7.0     3.0
1   7.0   19.0  4.0     1.0
2   7.0   89.0  6.0     1.0
3   5.0  -43.0  6.0     5.0
4   1.0 -103.0  0.0     0.0
5   5.0  107.0  4.0     5.0
6   2.0   60.0  1.0     2.0
7   2.0   94.0  2.0     2.0
8   6.0  -17.0  3.0     0.0
9   0.0  -50.0  4.0     3.0
10  7.0  -54.0  3.0     1.0
11  6.0  -82.0  6.0     0.0
12  2.0    9.0  7.0     2.0
13  7.0  103.0  2.0     1.0
14  0.0   45.0  6.0     3.0
15  1.0   74.0  2.0     2.0
16  1.0   34.0  4.0     4.0
17  3.0   96.0  3.0     3.0
18  4.0  -20.0  0.0     3.0
19  3.0   54.0  6.0     3.0

# Задача В. Кольцевая линия метро

Витя работает недалеко от одной из станций кольцевой линии Московского метро, а живет рядом с другой станцией той же линии. Требуется выяснить, мимо какого наименьшего количества промежуточных станций необходимо проехать Вите по кольцу, чтобы добраться с работы домой.

Формат ввода
Станции пронумерованы подряд натуральными числами 1, 2, 3, …, N (1-я станция – соседняя с N-й), N не превосходит 100.

Вводятся три числа: сначала N – общее количество станций кольцевой линии, а затем i и j – номера станции, на которой Витя садится, и станции, на которой он должен выйти. Числа i и j не совпадают. Все числа разделены пробелом.

Формат вывода
Требуется выдать минимальное количество промежуточных станций (не считая станции посадки и высадки), которые необходимо проехать Вите.

Примечания
Пояснения к примерам:

1) На кольцевой линии 100 станций; проехать с 5-й на 6-ю станцию Витя может напрямую, без промежуточных станций

2) На кольцевой линии 10 станций; проехать с 1-й на 9-ю станцию Витя может через одну промежуточную, ее номер 10

In [140]:
N, i, j = map(int, input().split())
if (j - i - 1) <= (N - j - i - 1):
    print(j - i - 1)
else:
    print(N - (j - i) - 1)

KeyboardInterrupt: Interrupted by user

In [135]:
if (j - i - 1) < (N - j - i - 1):
    print(j - i - 1)
else:
    print(N - (j - i) - 1)

36

In [190]:
df = pd.DataFrame({'N': [], 'i': [], 'j': [], 'output': []})
for k in range(20):
    N = randrange(1, 100)
    i = randrange(1, N)
    j = randrange(1, N)
    if i < j:
        if (j - i) < (N - j + i):
            df.loc[k] = [N, i, j, (j - i - 1)]
        else:
            df.loc[k] = [N, i, j, (N - (j - i) - 1)]
    else:
        if (i - j) < (N - i + j):
            df.loc[k] = [N, i, j, (i - j - 1)]
        else:
            df.loc[k] = [N, i, j, (N - (i - j) - 1)]

In [191]:
df

       N     i     j  output
0   61.0  54.0   3.0     9.0
1   78.0  66.0   6.0    17.0
2   64.0   4.0  19.0    14.0
3   32.0  24.0  11.0    12.0
4   24.0   1.0  13.0    11.0
5   45.0  40.0  34.0     5.0
6   73.0   4.0  34.0    29.0
7    9.0   2.0   1.0     0.0
8   12.0   8.0   7.0     0.0
9   14.0   7.0   6.0     0.0
10  55.0  47.0  15.0    22.0
11  68.0  47.0  44.0     2.0
12  97.0  95.0  40.0    41.0
13  40.0  26.0  14.0    11.0
14   8.0   3.0   5.0     1.0
15  71.0  70.0  43.0    26.0
16  35.0  22.0  16.0     5.0
17  94.0  27.0  83.0    37.0
18  97.0  17.0  29.0    11.0
19  26.0  23.0  13.0     9.0

In [163]:
N, i, j = map(int, input().split())

if i < j:
    if (j - i) < (N - j + i):
        print(j - i - 1)
    else:
        print(N - (j - i) - 1)
else:
    if (i - j) < (N - i + j):
        print(i - j - 1)
    else:
        print(N - (i - j) - 1)

100 5 8
2

# Задача С. Даты

Как известно, два наиболее распространённых формата записи даты — это европейский (сначала день, потом месяц, потом год) и американски (сначала месяц, потом день, потом год). Системный администратор поменял дату на одном из бэкапов и сейчас хочет вернуть дату обратно. Но он не проверил, в каком формате дата используется в системе. Может ли он обойтись без этой информации?
Иначе говоря, вам даётся запись некоторой корректной даты. Требуется выяснить, однозначно ли по этой записи определяется дата даже без дополнительной информации о формате.

### Формат ввода

Первая строка входных данных содержит три целых числа — 
x,y и z (1 ≤ x ≤ 31, 1 ≤ y ≤ 31, 1970 ≤ z ≤ 2069). 
Гарантируется, что хотя бы в одном формате запись xyz задаёт корректную дату.

### Формат вывода

Выведите 1, если дата определяется однозначно, и 0 в противном случае.

In [ ]:
a, b, y = map(int, input().split())

In [188]:
# a, b, y = 15, 21, 2003
df = pd.DataFrame({'a': [], 'b': [], 'y': [], 'output': []})
for k in range(20):
    a = randrange(11, 15)
    b = randrange(11, 15)
    y = randrange(1970, 2069)
    if (a <= 12 and b <= 12) or (a > 12 and b > 12):
#         print(0)
        df.loc[k] = [a, b, y, 0]
    else:
#         print(1)
        df.loc[k] = [a, b, y, 1]

In [189]:
df

       a     b       y  output
0   11.0  13.0  2006.0     1.0
1   11.0  12.0  2001.0     0.0
2   13.0  11.0  2062.0     1.0
3   11.0  13.0  2005.0     1.0
4   11.0  11.0  2051.0     0.0
5   11.0  11.0  2050.0     0.0
6   13.0  11.0  2049.0     1.0
7   11.0  13.0  2022.0     1.0
8   11.0  13.0  1973.0     1.0
9   13.0  11.0  1994.0     1.0
10  13.0  14.0  2059.0     0.0
11  13.0  11.0  2042.0     1.0
12  13.0  12.0  2011.0     1.0
13  13.0  12.0  2030.0     1.0
14  13.0  12.0  2058.0     1.0
15  11.0  14.0  2016.0     1.0
16  14.0  12.0  1980.0     1.0
17  12.0  12.0  1989.0     0.0
18  13.0  12.0  2043.0     1.0
19  11.0  12.0  1981.0     0.0

In [185]:
a, b, y = map(int, input().split())
if (a <= 12 and b <= 12) or (a > 12 and b > 12):
    print(0)
else:
    print(1)

13 4 1234
1